# Copyright (c) 2000-2018, 2019 S.Bhatnagar
#
#   This file is part of fussy.
#
#   fussy is a free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   Foobar is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with fussy.  If not, see <https://www.gnu.org/licenses/>.

doc/LaTeX/*.dvi
doc/LaTeX/*.aux
doc/LaTeX/*.out
doc/LaTeX/*.log
doc/LaTeX/*.trs
doc/LaTeX/*.ps
doc/LaTeX/*.toc
doc/LaTeX/fussy.blg
*.o
*~
*.a
src/fussy
src/lex.yy.c
src/y.tab.c
src/y.tab.h
.deps
autom4te.cache
Makefile
stamp-h1
config.h
config.status
.dirstamp
fussy
src/fussyparse.cc
src/fussyparse.hh
