
*.dvi
*.aux
*.out
*.log
*.ps
*.toc
*.o
*~
*.a
src/fussy
src/lex.yy.c
src/y.tab.c
src/y.tab.h
doc/LaTeX/fussy.blg
.deps
autom4te.cache
Makefile
stamp-h1
config.h
config.status
.dirstamp
fussy
src/fussyparse.cc
src/fussyparse.hh
