
doc/LaTeX/*.dvi
doc/LaTeX/*.aux
doc/LaTeX/*.out
doc/LaTeX/*.log
doc/LaTeX/*.trs
doc/LaTeX/*.ps
doc/LaTeX/*.toc
doc/LaTeX/fussy.blg
*.o
*~
*.a
src/fussy
src/lex.yy.c
src/y.tab.c
src/y.tab.h
.deps
autom4te.cache
Makefile
stamp-h1
config.h
config.status
.dirstamp
fussy
src/fussyparse.cc
src/fussyparse.hh
